{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'events_registration_list' %}">registration Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>description</td>
    <td>image</td>
    <td>eventhead</td>
    <td>shortinfo</td>
    <td>venue</td>
    <td>eventtype</td>
    <td>num_participants</td>
    <td>date</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.id}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.image }}</td>
    <td>{{ object.eventhead }}</td>
    <td>{{ object.shortinfo }}</td>
    <td>{{ object.venue }}</td>
    <td>{{ object.eventtype }}</td>
    <td>{{ object.num_participants }}</td>
    <td>{{ object.date }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'events_registration_create' %}">Create new registration</a>
{% endblock %}