{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'events_registration_list' %}">registration Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>image</td><td>{{ object.image }}</td></tr>
<tr><td>eventhead</td><td>{{ object.eventhead }}</td></tr>
<tr><td>shortinfo</td><td>{{ object.shortinfo }}</td></tr>
<tr><td>venue</td><td>{{ object.venue }}</td></tr>
<tr><td>eventtype</td><td>{{ object.eventtype }}</td></tr>
<tr><td>num_participants</td><td>{{ object.num_participants }}</td></tr>
<tr><td>date</td><td>{{ object.date }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit registration</a>

<a href="{{object.get_absolute_url}}register/" class="card-link">Register</a>


{% endblock %}
