{% extends "base.html" %}
{% load i18n %}

{% block content %}
<head>
<style>
label
{
text-align:left;
width:190px;
}
#id_username,#id_password
{
height:35px;
border-radius:2px;
border:0;
width:195px;
background:white;;
}
input
{
border-radius:2px;
border:0;
width:100px;
height:30px;
background:grey;
transition:all .2s ease .2s;
}
input:hover
{
transition:all .2s ease .2s;
background:white;
}
</style>
</head>
<div class = "container" style="text-align:center;padding-top:100px;">
<center>
<div style="color:white;background:#292b2c;width:350px;height:500px;padding:10px;border-radius:5px;padding-top:30px;">
    <h4 >Login</h4>
    <p >

      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form><br>
      <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
      <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</p>
</div></center>
</div>

{% endblock %}
