{% extends "base.html" %}
{% load i18n %}

{% block content %}
<br><br><center>
<h3>To Reset Password contact Registration Helpline.<br>Email:farhan.fisat@gmail.com <br>(Farhan:9400975373, Nadish: 9447705705, Kiran: 9744568111)</h3></center>
<!-- <form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form> -->
{% endblock %}
