{% extends "base.html" %}
{% load i18n %}

{% block content %}
<head>
<style>
label
{
text-align:left;

}
input
{
margin:10px;
border-radius:2px;
border:0;
height:30px;
background:white;
transition:all .2s ease .2s;
}
.form-signin
{
width:100%;
}
.col-sm-3
{
padding:5px;
}
</style>
</head>



<div class = "container-fluid" style="padding:10px;color:white;background:#292b2c;padding-top:60px;margin-top:40px;border-radius:5px;">
<center>

    <h4 >Registration Form</h4>
  <br><br>

      <form class="form-signin" method="post" action=".">
        {% csrf_token %}
     <!--     
        {{ form.as_p }}  
-->       
	
<div class="row">
<div class="col-sm-3"></div>
   <div class="col-sm-3 ">
      {{ form.first_name.errors }}
      {{ form.first_name.label_tag }}
	<br>
      {{ form.first_name }}
   </div>

   <div class="col-sm-3">
      {{ form.last_name.errors }}
      {{ form.last_name.label_tag }}<br>
      {{ form.last_name }}
   </div>
<div class="col-sm-3"></div><div class="col-sm-3"></div>
<div class=" col-sm-3">
      {{ form.username.errors }}
      {{ form.username.label_tag }}<br>
      {{ form.username }}
   </div>

   <div class="col-sm-3">
      {{ form.email.errors }}
      {{ form.email.label_tag }}<br>
      {{ form.email }}
   </div>
<div class="col-sm-3"></div><div class="col-sm-3"></div>
   <div class="col-sm-3">
      {{ form.password1.errors }}
      {{ form.password1.label_tag }}<br>
      {{ form.password1 }}
   </div><div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"></div>
   <div class="col-sm-3">
      {{ form.password2.errors }}
      {{ form.password2.label_tag }}<br>
      {{ form.password2 }}
   </div>
<div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"></div>
   <div class="col-sm-3">
      {{ form.college.errors }}
      {{ form.college.label_tag }}<br>
      {{ form.college }}
   </div>
   <div class="col-sm-3">
      {{ form.phone_number.errors }}
      {{ form.phone_number.label_tag }}<br>
      {{ form.phone_number }}
   </div>
  </div>
<br><br>
         <button class="btn btn-primary" type="submit">Sign up</button>
        <!--  <input type="submit" value="{% trans 'Submit' %}" /> -->
      </form>
</center>
<br><br>
  </div>



{% endblock %}
