{% extends "base.html" %}
{% load static %}
<head>
	<title>Bharatham</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
 <meta property="og:url"           content="http://www.bharatham.in/events/{{ object.slug }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ object.name }}" />
        <meta property="og:description"   content="{{ object.description }}" />
        <meta property="og:image"         content="{{ object.image }}" />

</head>

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=190522661425994";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<body style="font-family: 'Open Sans', sans-serif;">
<div class="container-fluid" style="padding-top:100px;padding-bottom:100px;background-image:url('{{ object.fullimage }}');background-size:cover;background-repeat:no-repeat;background-color:#292b2c;">
<div class="container" style="background:rgba(255,255,255,.8);">
<div class="container-fliud">
<div class="row" style="background:#292b2c;padding:20px;color:white;">
<div class="col-sm-8">
<h3 style="font-weight:bold;font-size:4em;">{{ object.name }}</h3><hr>
</div>
<div class="col-sm-4" style="padding:20px;text-align:center;">
<div class="action">
{% if flag > 0 %}
<button type="button" class="btn btn-success" style="border-radius:0;width:150px;color:white;">
<i class="fa fa-check" aria-hidden="true"></i>&nbsp;Registered
</button>

{% elif flag2 > 0 %}
<!-- Button trigger modal -->
{% if object.slug == "ragna-rock-band-war" %}
  <button type="button" class="btn btn-lg btn-primary" disabled>Registrations Closed</button>
{% else %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong1" style="border-radius:0;width:150px;">
 Register
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"  style="color:black;">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">

<h5 class="modal-title" id="exampleModalLongTitle">Register Event</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form method="post" action="{{object.get_absolute_url}}registerteam/">
{% csrf_token %}
Team name : <input type="text"  name="tname" maxlength="100" required><br><br>
<h6>I Accept The Rules & Regulations</h6>
<br/>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="submit" class="btn value="Submit"">Yes</button>	</form>
</div>
</div>
 </div>
</div>
{% endif %}

						{% else %}
						<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="border-radius:0;width:150px;">
Register
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="color:black;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
      <br>
						<h6>I Accept The Rules & Regulations</h6>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a href = "{{object.get_absolute_url}}register/"><button class="add-to-cart btn btn-default" type="button">Yes</button></a>

      </div>
    </div>
  </div>
</div>  

		   			{% endif %}


<br><br>
<div class="fb-share-button"
          		data-href="http://www.bharatham.in/events/{{ object.slug }}"
          		data-layout="button_count" data-size="large">
          	</div>
              </div>
</div>
</div>
<div class="row" style="padding:20px;padding-bottom:100px;">
<div class="col-sm-8" style="text-align:justify;font-size:18px;padding-top:20px;">
<pre style="white-space: pre-wrap;font-size:18px;text-align:justify;font-family: 'open sans';">{{ object.description }}</pre>
</div>
<div class="col-sm-4" style="text-align:left;font-size:18px;padding-left:5vw;padding-top:20px;">

<h4>Type    :&nbsp;{{ object.eventtype|title }}&nbsp;event.</h4>
<h4>Date    :&nbsp;{{ object.date }}</h4>
<h4>Venue :&nbsp;{{ object.venue }}</h4>
<h4> Spot registration Available </h4>
<h4>Registration Fee:&nbsp;{{ object.regfee }}</h4>
<div class="alert alert-warning" role="alert">
  <strong>Note:</strong> Online Registrations does not involve any payment. Payments are done at FISAT. 
</div>
</div>

<div class="col-sm-8" style="padding-top:20px;">
<h2>Contact</h2><br>
<div class="row">
{% for i in ehead %}
<div class="col-sm-3">

<b>{{ i.name }}</b><br><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{ i.phone }}
</div>
{% endfor %}	
</div>
<h5 class="sizes"> 
<span class="size" data-toggle="tooltip" title="large"></span>
</h5>
</div>
<div class="col-sm-12" style="">

<h4>Rules & Regulations</h4><br>

<pre style="white-space: pre-wrap;font-size:18px;text-align:justify;font-family: 'open sans';">{{ object.rules }}</pre>
</div>					
					

	
					</div>
				</div>
		</div>
    </div>
  </body>

<style>

/*****************globals*************/
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold;
font-size:4vw; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

</style>



{% endblock %}
