{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
<style>
.box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
width:100%;
height:175px;
max-height:200px;
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
width:100%;
text-align:center;
padding:30px;
}

.box:hover .overbox { opacity: 1; }

.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
  font-size: 2.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}






</style>	  

</head>

  <body>



    <section>
      <div class="container-fluid" style="height:500px;padding:0;background-image:url('http://www.fonixevents.com/images/Slider3.jpg');
	background-size:cover;padding-top:250px;">
<center>
	<div style="height:16vw;width:50vw;color:white;font-size:10vw;margin-top:-8vw;background:#292b2c;box-shadow: 0 0 10px #000000;font-weight:300;">
		
	EVENTS
	</div></center>
            </div>
    </section>

    <div>
      <div class="container" style="padding-top:100px;">

        <div class="row" style="width:100%;padding:auto;">
{% for object in object_list reversed  %}
  <div class="col-sm-3 " style="padding:8px;"  >
<div style="box-shadow: 0 0 10px #000000;padding:0px;" >
<a href="{{object.get_absolute_url}}">
<div class="box">
<img src="{{ object.image }}" alt="{{ object.shortinfo }}" width="100%">
<div class="overbox" style="height:100%;">
    <div class="title overtext">More</div>
    <div class="tagline overtext"></div>
</div>
</div>	 
</a>
<div class="col-sm-12" id="item-description" style="background-color:white;color:black;">
                <span style="font-size:20px;font-weight:bold;">{{ object.name }}</span>
 </div>
	 <div class="col-sm-12" id="item-description" style="background-color:#292b2c;color:white;">
                <span style="font-size:20px;font-weight:bold;">Prize:<span style="float:right">&#8377;{{ object.prize }}</span></span>
 </div>
</div>
</div>
{% endfor %}
	
<!--
{% for object in object_list %}
          <div class="card">

		  <img class="card-img-top" src="{{ object.image }}" alt="{{ object.shortinfo }}">
  <div class="card-block">
    <h4 class="card-title">{{ object.name }}</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ object.eventtype }}</li>
    <li class="list-group-item">{{ object.venue }}</li>
    <li class="list-group-item">{{ object.date }}</li>
  </ul>
  <div class="card-block">
    <a href="{{object.get_absolute_url}}" class="card-link">More Info</a>
 </div>
	  </div>

	{% endfor %}-->


      </div>
    </div>

    <footer class="text-muted">
 <br> <br> <br> <br>
    </footer>

  
  </body>
</html>
{% endblock %}
