

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100%;position:absolute;width:100%;background:white;">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>

</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox" style="height:100%;">
<div class="item active" style="height:100%;">
<div class="row" style="background:white;height:100%;">
<div class="col-sm-6" style="background:white;padding:80px;text-align:justify;">
<center>
<h1>About Fisat</h1>
</center>
<div style="font-size:1.3vw;">
Federal Institute of Science And Technology (FISAT) is a private self financing Engineering College, established and run by the Federal Bank Officers` Association Educational Society (FBOAES). The FBOAES is an initiative of the Federal Bank Officers` Association (FBOA), the sole representative body of the entire officers of the Federal Bank.<br><br>

FISAT is set up at Mookannoor, near Angamaly in Ernakulam District, Kerala, the birth place of the founder of The Federal Bank Ltd, Late K P Hormis. To honour the revered memory of the great visionary, the campus of FISAT is christened `Hormis Nagar`.

FISAT is affiliated to Kerala Technological University (KTU), Mahatma Gandhi University, Kottayam, Kerala and approved by All India Council for Technical Education (AICTE),  New Delhi.
</div>
</div>


<div class="col-sm-6">
<img src="http://bharatham.in/static/images/fisat.jpg" width="100%">


</div>


</div>
</div>

<div class="item" style="height:100%;">
<div class="col-sm-12" style="text-align:center;">
<img src="http://bharatham.in/static/images/A%20grade.jpg">
</div>
<div class="col-sm-2"></div>
<div class="col-sm-8" style="background:white;padding:20px;text-align:justify;">
<center>
<h1>About NAAC</h1>
</center>
<div style="font-size:1.3vw;">
Federal Institute of Scrence and Technology had been accredited by the
National Assessment and Accreditation Council (NAAC) With 'A' Grade (CGPA
3.06) The NAAC peer team visited the college team during 24 September to
lst October and was awarded ‘A‘ Grade. the Highest grade so far awarded to
any engineering college in Kerala. This feat was achieved through diligence
and dedication put in by the Management. Staff. Faculty and Student as a
whole
</div>
</div>
<div class="col-sm-2"></div>
</div>

<div class="item" style="height:100%;background-image:url(http://bharatham.in/static/images/fisat2.jpg);background-size:cover;">
<div class="col-sm-3"></div>
<div class="col-sm-6" style="background:rgba(255,255,255,.7);padding:80px;text-align:justify;margin:10px;border-radius:5px;">
<center>
<h1>About Bharatham</h1>
</center>
<div style="font-size:1.3vw;font-weight:bold;">
Since its inception. Federal Institute of Science and Technology(FISAT) has been
in the forefront of revolutionizing professional education to brew up a youth that
builds a tomorrow from the ashes of today. With its motto focus on excelience,
which resonates with culture imbibed in this institution FISAT is the cradle of
arts and science.<br><br>
Bharatham, a kaleidoscope of opporfunittes is a perfect blend of Bhavam.
Ragam, Thalam and Melam. Bharatham, a legacy engraved in the hearts of many,
is the blood, sweat and tears of fisatians who are dedicated to reaping success,
Its leverage for a brand that targets the youth of today. This inter-collegiate fest
would showcase multifarious talents and a synergy of youths creativity

</div>
</div>
<div class="col-sm-3"></div>
</div>

</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<span class="scroll-indicator 	glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<span class="scroll-indicator glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
