<div class="container-fluid" style="background-size:cover;height:100%;margin:0;padding:0; box-shadow: inset 0 -7px 9px -7px #000000;">
<div id="map" style="height:50%;width:100%;">
</div>
<div class="row" style="padding-top:100px;height:50%;background:white;width:100%;margin:0;background:#373737;">


    <div class="col-sm-2"></div>
         <div class="col-sm-3 boxshadowout" style="box-shadow: 0 0 10px #000000;padding:0">

                         <div class="col-sm-12" id="item-description" style="background-color:white;color:black;padding:15px;">
                <span style="font-size:20px;font-weight:bold;">Jeffin David</span><br>
                   Chairman, Student Council<br>
                   <b><span class="glyphicon glyphicon-earphone"></span>&nbsp;+919946982429</b>


               </div>
           </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3 "  style="box-shadow: 0 0 10px #000000;padding:0" >

        

               <div class="col-sm-12" id="item-description" style="background-color:white;color:black;padding:15px;">
                <span style="font-size:20px;font-weight:bold;">Swaraj Ram </span> <br>
                   Arts Club Seceretary, Students Council
                   <br>
                   <b><span class="glyphicon glyphicon-earphone"></span>&nbsp;+919633767137</b>

               </div>
           </div>
        <div class="col-sm-2"></div>

    </div>
</div>
