<style>
a
{
color:inherit;
}
a:hover
{
text-decoration:line-through;
color:inherit;
}
</style>
<div class="container-fluid" style="height:100%;width:100%;background:black;color:white;padding-top:50px;font-size:1.5vw;">
<center>
About <b>Bharatham.in</b>
</center>
<div class="container">
Hi,<br>This web app provides you a complete support regarding the festival. We have built a sophisticated UI and a powerful Backend for the users, which includes a unique personalized login system and dashboard.
Users can register events with great ease of access. Also they can review the events which they have already registered.<br><br>
Event heads can access the events and view the stats corresponding to the events.
<br><br>
<b>Development Stack:</b> HTML5,&nbsp;CSS3,&nbsp;JavaScript,&nbsp;Ajax,&nbsp;Python,&nbsp;Django.<br><br>

<center>
<b>

Developers
</b>
</center>
<div class="row" style="padding:0;padding-top:20px;">

<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/nadishs">Nadish</a></strong><br> <small>Backend</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/mohammedfarhankn">Farhan</a></strong><br><small>Backend</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/kiranvarghese.core">Kiran</a></strong>
<br><small> UI/UX</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/vaishakhsasikumar">Vaisakh</a></strong><br>
<small>Resource</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/jyojith">Jyojith</a></strong><br>
<small>UI/UX Mobile</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/ananthakrishnan.ma">Ananthakrishnan</a></strong><br><small>DB</small>
</div>
<div class="col-sm-2" style="padding:5px;">
<strong><a href="https://www.facebook.com/sarath.fisat">Sarath</a></strong><br><small>Backend</small>
</div>
</div>
<!--<span style="float:right"><br>Regards,<br>
Tech Team</span>-->
</div>
</div>