<head>

<style>

    .btn
    {
        border-radius: 0;
        border: 3px solid white;
        margin-top: 50px;
        width: 150px;
        background: transparent;
        color:white;
        transition: all .2s ease .1s;
    }
    .btn:hover
    {
       background: white;
        color: black;
        transition: all .2s ease .1s;
    }
    .bw
    {
       border: 3px solid black;
         color:black;

    }
    .bw:hover
    {
       background: black;
         color:white;
    }

    </style>




</head>


  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100%;background:black;">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://bharatham.in/static/images/proshow.jpg" height="100%" alt="Chania">
        <div class="carousel-content" style="position:absolute;color:white;top:0;padding:50px;width:100%;">
            <center>
       <div style="font-weight:800;font-size:10vw;"></div>
            <div style="font-weight:300;font-size:2vw;"></div></center>
      </div>
    </div>

    <div class="item">
       <img src="http://bharatham.in/static/images/choreo.jpg" width="100%"alt="Chania">
            <div class="carousel-content" style="position:absolute;color:white;top:0;padding:50px;width:100%;">
            <center>
       <div style="font-weight:800;font-size:10vw;">CHOREO NIGHT</div>
            <div style="font-weight:300;font-size:2vw;"></div>
              <a href="http://bharatham.in/events/choreo-night/"><button class="btn btn-default">MORE</button></a>
                </center>
      </div>
    </div>

    <div class="item" style="height:100%;">
       <img src="http://bharatham.in/static/images/tashan.jpg" width="100%"alt="Chania">
        <div class="carousel-content" style="position:absolute;color:white;top:0;padding:50px;width:100%;color:black;">
            <center>
       <div style="font-weight:800;font-size:8vw;">TASHAN</div>
            <div style="font-weight:300;font-size:2vw;"></div>
              <a href="http://bharatham.in/events/tashan/"><button class="btn btn-default bw">MORE</button></a>
                </center>
      </div>
    </div>
          <div class="item" style="height:100%;">
       <img src="http://bharatham.in/static/images/dj1.jpg" width="100%"alt="Chania">
        <div class="carousel-content" style="position:absolute;color:white;top:0;padding:50px;width:100%;color:white;">

       <div style="font-weight:800;font-size:8vw;">TREMORS</div>
            <div style="font-weight:300;font-size:2vw;"></div>

              <a href="http://bharatham.in/events/tremors/"><button class="btn btn-default" style="margin-left:220px;">MORE</button></a>

      </div>
    </div>

  </div>

   <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="scroll-indicator 	glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="scroll-indicator glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
