{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}BHARATHAM'17{% endblock %}</title>
  <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
 <meta property="og:url"           content="http://www.bharatham.in/events/{{ object.slug }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ object.name }} - Bharatham 2017 FISAT" />
        <meta property="og:description"   content="{{ object.shortinfo }} - Register Here" />
        <meta property="og:image"         content="{{ object.image }}" />
<script src="https://use.fontawesome.com/e6dd94d826.js"></script>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script>
      $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    </script>


	

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>






	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91558016-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>


    <div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">Registration Helpline</h4>
            <p class="text-muted">Sign Up and Login before you register for an Event, If you face any Difficulties Contact Registration Helpline. Email:farhan.fisat@gmail.com (Farhan:9400975373, Nadish: 9447705705, Kiran: 9744568111)</p>
          </div>
          <div class="col-sm-4 py-4">
       {% block header %}|

        {% if user.is_authenticated %}
      <h4 class="text-white"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{ user.username }} </h4>

      (<a href="/myprofile/"><button class="btn btn-default btn-sm">Profile</button></a> |<a href="http://bharatham.in"><button class="btn btn-default btn-sm">Home</button></a> |<a href="{% url 'auth_logout' %}"><button class="btn btn-default btn-sm">Logout</button></a>)
        {% else %}
           <a href="http://bharatham.in"><button class="btn btn-default btn-sm">Home</button></a>|<a href="{% url 'auth_login' %}"><button class="btn btn-default btn-sm">Login</button></a>|<a href="{% url 'registration_register' %}"><button class="btn btn-default btn-sm">Register</button></a>
        {% endif %}
        {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">BHARATHAM'17</a>
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="http://bharatham.in/events">All Events</a>
      </li></ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>


	</div> </div>
    <div id="footer">
    {% block footer %}
    {% endblock %}
    </div>


	 <div id="content">
    {% block content %}{% endblock %}
    </div>


</body>

</html>
