{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bharatham</title>


      <link href="https://fonts.googleapis.com/css?family=Montez|Open+Sans:300,400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
		<script src="{% static "js/modernizr.custom.25376.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "css/horizontalstyle.css" %}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		var jQuery311 = $.noConflict(true);
		</script>





        <style>
				*
				{
					 font-family: 'Open Sans', sans-serif;
				}
				.scroll-indicator {
				-webkit-animation: bounce 1s infinite;
				animation: bounce 1s infinite;
				}

				@-webkit-keyframes bounce {
				0% { top: 48%; }
				50%   { top: 50%; }
				100% { top: 48%; }
				}

				@keyframes bounce {
				0% { top: 48%; }
				50%   { top: 50%; }
				100% { top: 48%; }
				}


				#butt
				{
						border-radius:0;

						background:transparent;
						height:30px;
						width:55px;
						color:white;
						line-height:10px;
						transition: all 0.3s ease 0s;

				}

				#butt:hover
				{
						transform:translateX();
						background: #2ecc71;
						transition: all 0.3s ease 0s;
				}

				.mouse
				{
				opacity: 0;
				top:40%;
				left:50%;
				z-index: 999;
				position: absolute;
				margin: 50px auto;
				width: 100px;
				}.mouse-icon{
				width: 25px;
				height: 45px;
				border: 2px solid limegreen;
				border-radius: 15px;
				cursor: pointer;
				position: relative;
				text-align: center;
				}.mouse-wheel{
				height: 6px;
				margin: 2px auto 0;
				display: block;
				width: 3px;
				background-color:limegreen;
				border-radius: 50%;
				-webkit-animation: 1.6s ease infinite wheel-up-down;
				-moz-animation: 1.6s ease infinite wheel-up-down;
				animation: 1.6s ease infinite wheel-up-down;
				}
				@-webkit-keyframes wheel-up-down {
				0% {
				margin-top: 2px;
				opacity: 0;
				}
				30% {
				opacity: 1;
				}
				100% {
				margin-top: 20px;
				opacity: 0;
				}
				}@-moz-keyframes wheel-up-down {
				0% {
				margin-top: 2px;
				opacity: 0;
				}
				30% {
				opacity: 1;
				}
				100% {
				margin-top: 20px;
				opacity: 0;
				}
				}@keyframes wheel-up-down {
				0% {
				margin-top: 2px;
				opacity: 0;
				}
				30% {
				opacity: 1;
				}
				100% {
				margin-top: 20px;
				opacity: 0;
				}
				}


				.boxshadowout {
				-moz-box-shadow:     0 0 10px #000000;
				-webkit-box-shadow:  0 0 10px #000000;
				box-shadow:          0 0 10px #000000;
				}

</style>



	</head>
	<body style="background-image:url('{% static "skyfisat.jpg" %}');background-size:100%;background-repeat:no-repeat;background-color:black;position:fixed;overflow:hidden;">


<script type="text/javascript" src="{% static "three.min.js" %}"></script>
		<script type="text/javascript" src="{% static "Detector.js" %}"></script>

		<script id="vs" type="x-shader/x-vertex">

			varying vec2 vUv;

			void main() {

				vUv = uv;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

			}

		</script>

		<script id="fs" type="x-shader/x-fragment">

			uniform sampler2D map;

			uniform vec3 fogColor;
			uniform float fogNear;
			uniform float fogFar;

			varying vec2 vUv;

			void main() {

				float depth = gl_FragCoord.z / gl_FragCoord.w;
				float fogFactor = smoothstep( fogNear, fogFar, depth );

				gl_FragColor = texture2D( map, vUv );
				gl_FragColor.w *= pow( gl_FragCoord.z, 20.0 );
				gl_FragColor = mix( gl_FragColor, vec4( fogColor, gl_FragColor.w ), fogFactor );

			}

		</script>

		<script type="text/javascript">

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var mcontainer;
			var camera, scene, renderer;
			var mesh, geometry, material;

			var mouseX = 0, mouseY = 0;
			var start_time = Date.now();

			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;

			init();

			function init() {

				mcontainer = document.createElement( 'div' );
				document.body.appendChild( mcontainer );
				// Bg gradient

				var canvas = document.createElement( 'canvas' );
				canvas.width = 32;
				canvas.height = window.innerHeight;

				var context = canvas.getContext( '2d' );

				mcontainer.style.background = 'url(' + canvas.toDataURL('image/png') + ')';
				mcontainer.style.backgroundSize = '32px 100%';

				//

				camera = new THREE.PerspectiveCamera( 30, window.innerWidth / window.innerHeight, 1, 3000 );
				camera.position.z = 6000;

				scene = new THREE.Scene();

				geometry = new THREE.Geometry();

				var texture = THREE.ImageUtils.loadTexture( '{% static "cloud10.png" %}', null, animate );
				texture.magFilter = THREE.LinearMipMapLinearFilter;
				texture.minFilter = THREE.LinearMipMapLinearFilter;

				var fog = new THREE.Fog( 0x4584b4, - 100, 3000 );

				material = new THREE.ShaderMaterial( {

					uniforms: {

						"map": { type: "t", value: texture },
						"fogColor" : { type: "c", value: fog.color },
						"fogNear" : { type: "f", value: fog.near },
						"fogFar" : { type: "f", value: fog.far },

					},
					vertexShader: document.getElementById( 'vs' ).textContent,
					fragmentShader: document.getElementById( 'fs' ).textContent,
					depthWrite: false,
					depthTest: false,
					transparent: true

				} );

				var plane = new THREE.Mesh( new THREE.PlaneGeometry( 64, 64 ) );

				for ( var i = 0; i < 8000; i++ ) {

					plane.position.x = Math.random() * 1000 - 500;
					plane.position.y = - Math.random() * Math.random() * 200 - 15;
					plane.position.z = i;
					plane.rotation.z = Math.random() * Math.PI;
					plane.scale.x = plane.scale.y = Math.random() * Math.random() * 1.5 + 0.5;

					THREE.GeometryUtils.merge( geometry, plane );

				}

				mesh = new THREE.Mesh( geometry, material );
				scene.add( mesh );

				mesh = new THREE.Mesh( geometry, material );
				mesh.position.z = - 8000;
				scene.add( mesh );

				renderer = new THREE.WebGLRenderer( { antialias: false } );
				renderer.setSize( window.innerWidth, window.innerHeight );
				mcontainer.appendChild( renderer.domElement );

				document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onDocumentMouseMove( event ) {

				mouseX = ( event.clientX - windowHalfX ) * 0.25;
				mouseY = ( event.clientY - windowHalfY ) * 0.15;

			}

			function onWindowResize( event ) {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );

				position = ( ( Date.now() - start_time ) * 0.03 ) % 8000;

				camera.position.x += ( mouseX - camera.position.x ) * 0.01;
				camera.position.y += ( - mouseY - camera.position.y ) * 0.01;
				camera.position.z = - position + 8000;

				renderer.render( scene, camera );

			}

		</script>



<div id="perspective" class="perspective effect-rotatetop" style="position:absolute; top:0;background:transparent;">
     
			<div class="mcontainer" style="background-color:rgba(255,255,255,0);width:100%;padding:0;">
            <div class="wrapper"><!-- wrapper needed for scroll -->

					<!-- Top Navigation -->

				<!-- /main -->
				</div><!-- wrapper -->
                <div id="contents" style="z-index:0;padding:0;position:absolute;width:100%;height:100%;">

									<div class="row" style="width:100%;height:100%;position:relative;padding:0;margin:0;">
													<div class="col-sm-12" style="text-align:center;padding-top:2%;color:white;font-size:2vw;z-index:-99;font-family: 'Montserrat', sans-serif;height:10%;">
													FEDERAL INSTITUTE OF SCIENCE AND TECHNOLOGY
														</div>

												<div class="col-sm-12 col-lg-12" style="text-align:center;width:100%;height:90%;">
													<img src="{% static "pngcolored.png" %}" width="30%">


											<div class="col-sm-12 col-lg-12" style="text-align:center;font-size:2vw;color:#091698;font-weight:500;font-family: 'Montserrat', sans-serif;">
													<div style="font-family: 'Montez', cursive;font-size:4vw;color:black;">&nbsp;&nbsp; fest de art<br></div>

													 <div>&nbsp;&nbsp;&nbsp;&nbsp;FEBRUARY 18,19</div></div></div>

												</div>
                </div>

								<div id="loader" style="height:2px;width:0%;background:#32CD32;position:absolute;opacity:1;color:green;top:0;z-index:999;">
																		</div>
																	<div class="mouse" id="mouseicon">

								<div class="mouse-icon">
								<span class="mouse-wheel"></span>
								</div>

								</div>
								<div class="main clearfix" style="position:absolute;right:30px;top:30px;">

											 <div id="showMenu" style="z-index:999;text-align:center;">
									&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-default" id="butt" style="font-size:15px;border:1px solid white;" >
																				<span class="glyphicon glyphicon-menu-hamburger "></span>
																				 </button>
								 </div>

									 </div>


			</div><!-- /mcontainer -->


			<nav class="nav bottom horozontal" style="width:100%;position:fixed;text-align:cenetr;max-height:10%;margin-top:30%;">
                 <center>
					<div class="content" style="width:100%;padding-left:50%;">

			<ul id="sdt_menu" class="sdt_menu" style="margin-left:-743px;">
				<li>
					<a id="navhome">
						<img src="{% static "images/2.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Home</span>
						</span>
					</a>
				</li>
				<li>
					<a id="navabout">
						<img src="{% static "images/1.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">About</span>
						</span>
					</a>
				</li>
					<li>
					<a id="navevents">
						<img src="{% static "images/3.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Events</span>
						</span>
					</a>
				</li>
				<li>
					<a id="navhighlights">
						<img src="{% static "images/3.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Highlights</span>
						</span>
					</a>
				</li>
				<li>
					<a id="navcontact">
						<img src="{% static "images/4.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Contact</span>
						</span>
					</a>
				</li>
				<li>
					<a id="navdevs">
						<img src="{% static "images/5.jpg"%}" alt=""/>
						<span class="sdt_active"></span>
						<span class="sdt_wrap">
							<span class="sdt_link">Devs</span>
						</span>
					</a>
				</li>
			</ul>

		</div>
 </center>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript" src="{% static "jquery.easing.1.3.js"%}"></script>
        <script type="text/javascript">
            $(function() {
				/**
				* for each menu element, on mouseenter,
				* we enlarge the image, and show both sdt_active span and
				* sdt_wrap span. If the element has a sub menu (sdt_box),
				* then we slide it - if the element is the last one in the menu
				* we slide it to the left, otherwise to the right
				*/
                $('#sdt_menu > li').bind('mouseenter',function(){
					var $elem = $(this);
					$elem.find('img')
						 .stop(true)
						 .animate({
							'width':'120px',
							'height':'85px',
							'left':'0px'
						 },400,'easeOutBack')
						 .andSelf()
						 .find('.sdt_wrap')
					     .stop(true)
						 .animate({'top':'70px'},500,'easeOutBack')
						 .andSelf()
						 .find('.sdt_active')
					     .stop(true)
						 .animate({'height':'65px'},300,function(){
						var $sub_menu = $elem.find('.sdt_box');
						if($sub_menu.length){
							var left = '65px';
							if($elem.parent().children().length == $elem.index()+1)
								left = '-65px';
							$sub_menu.show().animate({'left':left},200);
						}
					});
				})

					.bind('mouseleave',function(){
					var $elem = $(this);
					var $sub_menu = $elem.find('.sdt_box');
					if($sub_menu.length)
						$sub_menu.hide().css('left','0px');

					$elem.find('.sdt_active')
						 .stop(true)
						 .animate({'height':'0px'},300)
						 .andSelf().find('img')
						 .stop(true)
						 .animate({
							'width':'0px',
							'height':'0px',
							'left':'40px'},400)
						 .andSelf()
						 .find('.sdt_wrap')
						 .stop(true)
						 .animate({'top':'5px'},500);
				});
            });
        </script>
			</nav>
		</div><!-- /perspective -->
		<script src="{% static "js/classie.js"%}"></script>
		<script src="{% static "js/menu.js"%}"></script>



        <script type="text/javascript">

            $( "#navhome" ).click(function() {
							$("#butt").css("color","white");
						 $("#butt").css("border","1px solid white");
                var url="{% static "home.html"%}";
                 ajaxload(url);
            });

             $( "#navabout" ).click(function() {

							                  $("#mouseicon").css("opacity","1");
							                 $('#mouseicon').animate({opacity: 0}, 4000);
							                  $("#butt").css("color","black");
							                  $("#butt").css("border","1px solid black");
                var url="{% static "about.html"%}";
                 ajaxload(url);
            });

             $( "#navhighlights" ).click(function() {
							 $("#mouseicon").css("opacity","1");
							$('#mouseicon').animate({opacity: 0}, 4000);
							 $("#butt").css("color","white");
							 $("#butt").css("border","1px solid white");
                var url="{% static "events.html"%}";
                 ajaxload(url);
            });

             $( "#navcontact" ).click(function() {
							 $("#butt").css("color","white");
							 $("#butt").css("border","1px solid white");
                var url="{% static "contact.html"%}";
                 ajaxload(url);
            });

             $( "#navdevs" ).click(function() {
							 $("#butt").css("color","white");
							 $("#butt").css("border","1px solid white");
                var url="{% static "devs.html"%}";
                 ajaxload(url);
            });

function ajaxload(url) {
var xhr = new XMLHttpRequest();
     xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("contents").innerHTML = this.responseText;
    }
  };
xhr.open("GET", url+"?"+ Math.floor(Math.random() * 99999), true);
xhr.responseType = "text";
xhr.onprogress = function(e) {
    if (e.lengthComputable) {
        var percent=e.loaded/e.total;
        percent=percent*100;
        $("#loader").animate({width:percent+"%"},100);
    }
};
xhr.onloadstart = function(e) {

};
xhr.onloadend = function(e) {
 $("#loader").animate({width:0},0);
	initMap();

};
xhr.open("GET", url+"?"+ Math.floor(Math.random() * 99999), true);
xhr.responseType = "text";
xhr.send(null);
}
</script>
<script type="text/javascript">
    var thecookie = readCookie('doRedirect');
    if(!thecookie) {
       createCookie('doRedirect','true','1');
    if($(window).width() < 1025){
	 window.location = "{% static "mobi/index.html" %}"
}
  
    };
    function createCookie(name,value,days){
      // do work
    }
    function readCookie(name){
      // do work
    }
</script>



<script>
var scrolled = false,
scrollTimeout;
jQuery311("#contents").on('mousewheel',function(e) {
	jQuery311('.carousel').each(function(){
			jQuery311(this).carousel({
					interval:false
			});
	});
e.preventDefault();

// Scrolled yet?
if(!scrolled){
// Note they've scrolled
scrolled = true;
// Click appropriate nav
if(e.originalEvent.wheelDelta> 0)
	 {
		 jQuery311('#myCarousel').carousel('prev');

	 }
else
	 {
		 jQuery311('#myCarousel').carousel('next');
	 }

}


// Reset the timer
clearTimeout(scrollTimeout);

// If the user stops scrolling for 500 millis, they can trigger click w/ next scroll
scrollTimeout = setTimeout(function(){
scrolled = false;
}, 200);
});

</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCrfXMxsELO0zjNqbHL2S1SHssG5qIcwNY&"></script>
<script>

      function initMap() {
        var myLatLng = {lat: 10.2315176, lng: 76.406651};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>  

	</body>
</html>
