

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100%;width:100%;background:white;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height:100%;">
    <div class="item active" style="height:100%;">
     <div class="row" style="background:white;height:100%;">
               <div class="col-sm-6" style="background:white;padding:50px;text-align:justify;">
            <center>
         <h1>About Fisat</h1>
         </center>
             <div style="font-size:1.3vw;">
             Federal Institute of Science And Technology (FISAT) is a private self financing Engineering College, established and run by the Federal Bank Officers` Association Educational Society (FBOAES). The FBOAES is an initiative of the Federal Bank Officers` Association (FBOA), the sole representative body of the entire officers of the Federal Bank.<br><br>
Federal Institute of Science And Technology (FISAT) has a unique position in the Professional Education Sector in South India. With the motto "Focus on Excellence", FISAT has been designed and developed to become a `Centre of Excellence` in professional education.  Established in the year 2002, the college has carved a niche for itself in education world, eloquently demonstrated by the flying colors attained by its students in academics, placements as well as extra curricular and co curricular activities. <br><br>

FISAT is set up at Mookannoor, near Angamaly in Ernakulam District, Kerala, the birth place of the founder of The Federal Bank Ltd, Late K P Hormis. To honour the revered memory of the great visionary, the campus of FISAT is christened `Hormis Nagar`.

FISAT is affiliated to Kerala Technological University (KTU), Mahatma Gandhi University, Kottayam, Kerala and approved by All India Council for Technical Education (AICTE),  New Delhi.
        </div>
             </div>


         <div class="col-sm-6">
           <img src="images/fisat1.jpg" width="100%">


         </div>


        </div>
    </div>

    <div class="item">
       <img src="images/dj.jpg" width="100%"alt="Chania">
    </div>

    <div class="item">
       <img src="images/dj.jpg" width="100%"alt="Chania">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background:transparent;">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background:transparent;">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     <script>
    $('.carousel').each(function(){
        $(this).carousel({
            interval:false;
        });
    });
               </script>
