<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>





<script>

</script>

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100%;background:black;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/band.jpg" width="100%"alt="Chania">
    </div>

    <div class="item">
       <div class="row" style="height:100%;width:100%;padding:5%;">
        <div class="col-sm-3" style="background:white;">


           </div>

       </div>
    </div>

    <div class="item">
       <img src="images/band.jpg" width="100%"alt="Chania">
    </div>

    <div class="item" style="height:100%;">
       <img src="images/band.jpg" width="100%"alt="Chania">
    </div>
       <div class="item">
       <img src="images/choreo.jpg" width="100%"alt="Chania">
    </div>
       <div class="item">
       <img src="images/dj1.jpg" width="100%"alt="Chania">
    </div>
         <div class="item">
       <img src="images/dj1.jpg" width="100%"alt="Chania">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     <script>
    $('.carousel').each(function(){
        $(this).carousel({
            interval:false
        });
    });
         $('#myCarousel').bind('mousewheel', function(e){
        if(e.originalEvent.wheelDelta /120 > 0) {
            $(this).carousel('next');
        }
        else{
            $(this).carousel('prev');
        }
    });


</script>
