<div class="row" style="width:100%;height:100%;position:relative;padding:0;margin:0;">
				<div class="col-sm-12" style="text-align:center;padding-top:2%;color:white;font-size:2vw;z-index:-99;font-family: 'Montserrat', sans-serif;height:10%;">
				FEDERAL INSTITUTE OF SCIENCE AND TECHNOLOGY
					</div>

			<div class="col-sm-12 col-lg-12" style="text-align:center;width:100%;height:90%;">
				<img src="static/pngcolored.png" width="30%">


		<div class="col-sm-12 col-lg-12" style="text-align:center;font-size:2vw;color:#091698;font-weight:500;font-family: 'Montserrat', sans-serif;">
        <div style="font-family: 'Montez', cursive;font-size:4vw;color:black;">&nbsp;&nbsp; fest de art<br></div>

				 <div>&nbsp;&nbsp;&nbsp;&nbsp;FEBRUARY 18,19</div></div></div>

			</div>
