{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
      <h2> Event Management Tools Beta</h2>
  <h1>Work in progress ;)</h1>
  <p>
  plans:
  event list here
  each event click takes to page with event specific details such as no. of participants, list of partcipants and an option to download the data as csv file</p>
  
<table>
  {% for object in event_list %}
       

  <tr>
    <h4 class="card-title">{{ object.name }}</h4>
  
  <ul>
    <li>{{ object.eventtype }}</li>
    <li>{{ object.venue }}</li>
    <li>{{ object.date }}</li>
    <li><a href="{{object.get_tools_url}}" >Manage</a>
</tr></li>
  </ul>
  
    
	{% endfor %}

</table>

  	
</body>
{% endblock %}
