{% extends "base.html" %}
{% load static %}
{% block content %}
	


	<body>
	<center>
	<img class="img-responsive" src="http://bharatham.in/static/pngcolored.png" height=10% width=10%>
	<h2> Bharatham Registration</h2>
    		<p>Very Important Note: Please report any bugs if found ASAP to Nadish or Farhan.</p>
    		<h3>	{{ eobj.name }} Participant List</h3>
    		
		<!-- <p>Total registrations: {{ eobj.num_participants }}</p> -->
		<h3></h3>
		<div class="container">
		<table class = "table table-hover" border="border">
			<tr>
				<th>Name</th>
				<th>College</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>

		{% for obj in eregs %}
			
			<tr>
				<td>{{ obj.0 }}&nbsp{{ obj.1 }}</td>
				<td>{{ obj.2 }}</td>
				<td>{{ obj.3 }}</td>
				<td>{{ obj.4 }}</td>
			</tr>		
					
		{% endfor %}
		
		
		</table>
		<a href="{{eobj.get_tools_url}}download/"><h3>Download List</h3></a>
		</div>
	</center>
 	</body>
{% endblock %}
