{% extends "base.html" %}
{% load static %}

{% block content %}

 <div class="container" style="margin-top:80px;padding:20px;color:white;background:#292b2c;border-radius:5px;height:500px;">
<div class="row">
<div class="col-sm-4">
<h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{ u.username }} </h1><br/>
<h3>Info</h3>
<b><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ v.firstname }}&nbsp;{{ v.lastname }}</b>	<br/>
<i class="fa fa-envelope" aria-hidden="true"></i>
&nbsp;{{ u.email }}	<br/>
<i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;{{  v.college }}	<br/>
<i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;
{{  v.phone_number }}	<br/>
<a href="{% url 'auth_password_change' %}">Change password</a>

 </div>
<div class="col-sm-8">   
    {% if flag > 0 %}
    <h2>Events registered</h2> <br/>	
    	
    		<div class="span5">
                <table class="table table-striped table-condensed">
                      <thead>
                      <tr>
                        <th align="center">Event</th>
                        <th align="center">Date</th>
                        <th align="center">Venue</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for iobj in current_profile %}
                    <tr>
                      <td>{{ iobj.event.name }}</td>
                      <td>{{ iobj.event.date }}</td>
                      <td>{{ iobj.event.venue }}</td>
                        <td style="color:limegreen;"><span class="label label-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>
                </div>
    	</div>
    			{% else %}
<h3>You havent registered for any events yet!<a href="/events/">click here to view our events</a></h3>
		   			
						{% endif %}

    </div>

<style>
body{

}
</style>


</body>
{% endblock %}

